<header>
  <img src="./../../assets/chart.gif" id="logo" />
  <h1><a href="index.html">Skillsoft Weight Tracker</a></h1>
</header>
<nav>
  <ul>
    <li><a routerLink="/home">home</a></li>
    <li><a routerLink="/register">register</a></li>
    <li><a routerLink="/login">login</a></li>
    <li><a routerLink="/employees">employees</a></li>
  </ul>
</nav>
<div id="container">
  <main>
    <div class="container">
      <h2 class="pb-2">Login to the Competition</h2>
      <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">User name</label>
          <input type="text" class="form-control" id="username" formControlName="username">        
          <span
            *ngIf="formLogin.controls['username'].errors && !formLogin.controls['username'].pristine"
          >
            Invalid
          </span>        
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password">
          <span
          *ngIf="formLogin.controls['password'].errors && !formLogin.controls['password'].pristine"
          >
            Invalid
          </span>
        
        </div>
        <button type="submit" class="btn btn-primary"
        [disabled]="!formLogin.valid">Submit</button>
      </form> 
    </div>
  </main>
  <aside>
    <section>
      <h4>Health News</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore   et dolore magna aliqua.
      </p>
    </section>
    <section>
      <h4>Healthy Recipes</h4>
      <a href="">grilled chicken</a>
      <a href="">minced beef patties</a>
      <a href="">potato pancakes</a>
      <a href="">fish stew</a>
    </section>
  </aside>
</div>
<footer>
  <hr />
  Copyright &copy; 2022. All rights reserved
</footer>